body {
    /*google image searched "2019 m4 bmw competition drift*/
    background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/roa070119fea-bmwm4-1-1562543156.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#whole-form {
    width: 400px;
    height: 50px;
    box-sizing: border-box;
}